main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10%;
    margin: auto;
    padding: 5%;
}



main img{
    width: 500px;
    height: 500px;
}